Repository panel-attack/panel-attack, pull requests merged in 2022-04, with the labels that each got.

#483 Tcp networking rework
  network.lua
  server.lua
  server_globals.lua
Labels: enhancement, Server-side, Client-side

#490 Music test revamp
  character.lua
  localization.csv
  mainloop.lua
  options.lua
Labels: enhancement, Client-side

#491 Add garbage to puzzles
  Puzzle.lua
  PuzzleTests.lua
  StackTests.lua
  engine.lua
  main.lua
  mainloop.lua
  readme_puzzles.txt
Labels: enhancement, Client-side

#487 Remove Health Replenishment from Downstacking when Topped Out
  differences.txt
  engine.lua
Labels: enhancement, Client-side, engine

#495 Fix a bug introduced where speed wasn't updated
  engine.lua
Labels: bug, Client-side, high priority, engine

#499 Change Background Images
  stages/__default/background.png
  themes/Panel Attack/background/main.png
  themes/Panel Attack/background/readme.png
  themes/Panel Attack/background/select_screen.png
Labels: enhancement, Client-side
