Repository panel-attack/panel-attack, pull requests merged in 2022-07, with the labels that each got.

#566 Fix handling of enter in select screen
  select_screen/select_screen.lua
Labels: bug, Client-side

#570 Fix typo
  localization.csv
Labels: Client-side, localization

#580 Provide support for an absolute multibar frame
  graphics.lua
  readme_themes.txt
  theme.lua
Labels: Client-side, graphics

#636 Fix top performance problems
  engine.lua
Labels: Client-side, high priority
