Repository panel-attack/panel-attack, pull requests merged in 2024-01, with the labels that each got.

#950 Login Improvements
  ServerQueueTests.lua
  libraries/simplecsv.lua
  mainloop.lua
  network.lua
  players.txt
  select_screen/select_screen.lua
  select_screen/select_screen_graphics.lua
  server/Connection.lua
  server/PADatabase.lua
  server/Player.lua
  server/PlayerBase.lua
  server/Room.lua
  server/server.lua
  server/server_file_io.lua
  serverLauncher.lua
  tests/ConnectionTests.lua
  tests/Tests.lua
Labels: Server-side, Client-side, high priority, Cleanup

#1076 SceneRefactor: Merge login and other beta changes
  Game.lua
  ServerQueueTests.lua
  config.lua
  consts.lua
  libraries/simplecsv.lua
  localization.csv
  logger.lua
  match.lua
  network/ClientProtocol.lua
  network/LoginRoutine.lua
  network/NetworkProtocol.lua
  network/Request.lua
  network/ServerMessages.lua
  network/TcpClient.lua
  replay.lua
  scenes/OptionsMenu.lua
  server/Connection.lua
  server/PADatabase.lua
  server/Player.lua
  server/PlayerBase.lua
  server/Room.lua
  server/server.lua
  server/server_file_io.lua
  server/server_globals.lua
  serverLauncher.lua
  tests/ConnectionTests.lua
  tests/TcpClientTests.lua
  tests/Tests.lua
Labels: Server-side, Client-side, Cleanup

#1077 Scene refactor fix leaderboard
  scenes/Lobby.lua
Labels: bug, Client-side, graphics

#1071 Dynamically lock player inputs on sceneRefactor branch
  BattleRoom.lua
  ChallengeMode.lua
  Player.lua
  inputManager.lua
  scenes/MainMenu.lua
  scenes/Transitions/MessageTransition.lua
Labels: bug, Client-side, engine

#1078 Rework SetNameMenu to use ui classes instead of graphics util funcs
  scenes/SetNameMenu.lua
  ui/InputField.lua
Labels: bug, Client-side, graphics

#1088 Fix old inputs not getting cleared after matches
  network/BattleRoom.lua
  network/TcpClient.lua
  scenes/Lobby.lua
Labels: bug, Client-side, Cleanup

#1079 Fix shortcuts and challenge mode replays
  AttackEngine.lua
  ChallengeMode.lua
  ChallengeModePlayer.lua
  Health.lua
  Shortcuts.lua
  SimulatedStack.lua
  StackBase.lua
  engine.lua
  graphics.lua
  replay.lua
  scenes/Game1pChallenge.lua
  scenes/GameBase.lua
Labels: bug, enhancement, Client-side, Cleanup, graphics

#1091 Pop FX updates
  SimulatedOpponent.lua
  character.lua
  consts.lua
  engine.lua
  engine/checkMatches.lua
  engine/telegraph.lua
  globals.lua
  graphics.lua
  match.lua
  readme_characters.md
Labels: enhancement, Client-side, graphics

#1049 Challenge Mode V2
  AttackFileGenerator.lua
  ChallengeMode.lua
  Health.lua
  character_loader.lua
  consts.lua
  default_data/training/challenge-6-10.json
  default_data/training/challenge-6-12.json
  default_data/training/challenge-7-1.json
  default_data/training/challenge-7-10.json
  default_data/training/challenge-7-11.json
  default_data/training/challenge-7-12.json
  default_data/training/challenge-7-2.json
  default_data/training/challenge-7-3.json
  default_data/training/challenge-7-4.json
  default_data/training/challenge-7-5.json
  default_data/training/challenge-7-6.json
  default_data/training/challenge-7-7.json
  default_data/training/challenge-7-8.json
  default_data/training/challenge-7-9.json
  default_data/training/challenge-8-1.json
  default_data/training/challenge-8-10.json
  default_data/training/challenge-8-11.json
  default_data/training/challenge-8-12.json
  default_data/training/challenge-8-2.json
  default_data/training/challenge-8-3.json
  default_data/training/challenge-8-4.json
  default_data/training/challenge-8-5.json
  default_data/training/challenge-8-6.json
  default_data/training/challenge-8-7.json
  default_data/training/challenge-8-8.json
  default_data/training/challenge-8-9.json
  localization.csv
  mainloop.lua
  tests/HealthTests.lua
  tests/Tests.lua
  util.lua
  utilTests.lua
Labels: enhancement, Client-side

#1081 Support bundles properly on sceneRefactor
  BattleRoom.lua
  ChallengeMode.lua
  ChallengeModePlayer.lua
  Game.lua
  MatchParticipant.lua
  Player.lua
  StackBase.lua
  character.lua
  character_loader.lua
  engine.lua
  globals.lua
  match.lua
  network/ClientProtocol.lua
  network/ServerMessages.lua
  replay.lua
  replayV1.lua
  scenes/CharacterSelect.lua
  scenes/PuzzleMenu.lua
  stage.lua
  stage_loader.lua
  ui/GridCursor.lua
  ui/MultiPlayerSelectionWrapper.lua
  ui/StageCarousel.lua
Labels: bug, Client-side, graphics

#1087 Scene refactor run game over
  SimulatedStack.lua
  StackBase.lua
  engine.lua
  match.lua
Labels: bug, Client-side, graphics

#1100 Scene refactor: Properly support rating
  BattleRoom.lua
  ChallengeModePlayer.lua
  Game.lua
  MatchParticipant.lua
  Player.lua
  globals.lua
  graphics.lua
  helpers/signal.lua
  match.lua
  match_graphics.lua
  network/BattleRoom.lua
  network/ServerMessages.lua
  replay.lua
  scenes/CharacterSelect.lua
  scenes/CharacterSelect2p.lua
  scenes/CharacterSelectChallenge.lua
  scenes/CharacterSelectVsSelf.lua
  scenes/EndlessGame.lua
  scenes/Game1pChallenge.lua
  scenes/Game1pTraining.lua
  scenes/Game2pVs.lua
  scenes/GameBase.lua
  scenes/MainMenu.lua
  scenes/TimeAttackGame.lua
  scenes/TrainingMenu.lua
  scenes/VsSelfGame.lua
  ui/PagedUniGrid.lua
Labels: Client-side, Cleanup, graphics

#1104 Scene refactor: Refactor graphics util
  # Proposal for a new network protocol.md
  Game.lua
  SimulatedStack.lua
  StackBase.lua
  Theme.lua
  Understanding the Codebase after Scene Refactor.md
  Understanding the Codebase.md
  UpdatingImage.lua
  character.lua
  correct starting board.txt
  engine.lua
  engine/telegraph.lua
  fakePPL.diff
  graphics.lua
  graphics_util.lua
  libraries/BarGraph.lua
  localization.lua
  main.lua
  match.lua
  match_graphics.lua
  open issues.txt
  panels.lua
  scenes/CharacterSelect.lua
  scenes/Game1pChallenge.lua
  scenes/GameBase.lua
  scenes/InputConfigMenu.lua
  scenes/MainMenu.lua
  scenes/PuzzleMenu.lua
  scenes/ReplayBrowser.lua
  scenes/ReplayGame.lua
  scenes/SetUserIdMenu.lua
  scenes/SimpleGameSetupMenu.lua
  scenes/SoundTest.lua
  scenes/StartUp.lua
  scenes/TitleScreen.lua
  scenes/Transitions/BlackFadeTransition.lua
  scenes/Transitions/CatchUpTransition.lua
  stage.lua
  startingboardcrash.txt
  tests/PanelGenTestsBeta.lua
  ui/BoolSelector.lua
  ui/Button.lua
  ui/Carousel.lua
  ui/Grid.lua
  ui/GridCursor.lua
  ui/GridElement.lua
  ui/ImageContainer.lua
  ui/InputField.lua
  ui/LevelSlider.lua
  ui/Menu.lua
  ui/PagedUniGrid.lua
  ui/PixelFontLabel.lua
  ui/Slider.lua
  ui/StackPanel.lua
  ui/Stepper.lua
  ui/UIElement.lua
  use-cases online battleRoom.txt
Labels: Client-side, Cleanup, graphics
