Repository panel-attack/panel-attack, pull requests merged in 2024-05, with the labels that each got.

#1106 Configure active garbage collection
  CustomRun.lua
  RunTimeGraph.lua
  config.lua
  localization.csv
  mainloop.lua
  match.lua
  options.lua
Labels: enhancement, Client-side, Cleanup, graphics

#1176 Add option to reduce shake animation
  StackTests.lua
  config.lua
  consts.lua
  engine.lua
  graphics.lua
  localization.csv
  options.lua
  tests/StackGraphicsTests.lua
  util.lua
  utilTests.lua
Labels: enhancement, Client-side, graphics

#1178 Fix Crash when there is no stage music
  scenes/GameBase.lua
Labels: bug, Client-side, sound

#1179 Create DirectTransition
  config.lua
  scenes/OptionsMenu.lua
  scenes/Transitions/DirectTransition.lua
  scenes/sceneManager.lua
  ui/Slider.lua
Labels: enhancement, Client-side, graphics

#1180 Make text look less blurry
  graphics_util.lua
Labels: Client-side, graphics

#1182 Fix Fullscreen keybind
  Game.lua
  Shortcuts.lua
Labels: bug, Client-side, graphics

#1185 Update Discord dll to 64 bit
  client/lib/rich_presence/discord-rpc.dll
  client/lib/rich_presence/discordRPC.lua
Labels: bug, Client-side

#1186 Correct default panel path
  client/src/mods/Panels.lua
Labels: bug, Client-side, graphics

#1192 Fix panel loading crash & Scaling
  client/src/mods/Panels.lua
Labels: bug, Client-side, graphics

#1193 Fix another music crash
  client/src/scenes/GameBase.lua
Labels: bug, Client-side, sound
